<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/satellizer/satellizer.min.js"></script>
  <script src="/bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>

  <script src="/js/bundle.js"></script>

</head>
<body ng-app='myApp' ng-controller='mainCtrl' id="page">


   <header  data-my-navscroll  ng-class="{min:boolChangeClass}">
  <nav class="navbar navbar-default" role="navigation" bs-navbar>
    <ul class="nav navbar-nav navbar-left initals">
      <a href ="" ng-click="gotoAnchor(1)"> MW </button>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <div class="fixed-header">
        <a class="headerText" href="" ng-click="gotoAnchor(2)"> About </a>
        <a class="headerText" href="" ng-click="gotoAnchor(3)"> Projects </a>
        <a class="headerText" href="" ng-click="gotoAnchor(4)"> Resume </a>
        <a class="headerText" href="" ng-click="gotoAnchor(5)"> Contact </a>
      </div>
    </ul>

  </nav>
    </header>
    <section></section>
    

    <div id="anchor1" class="anchor">
      <div class = "container">     
        <div class= "title"> Molly Whitnack</div>
        <div class="subTitle">Full Javascript Stack Developer 
          <div class = 'smaller'> </div>
        </div>
      </div>
    </div>

    <div id="anchor2" class="anchor">
    <br><br>
      <div class = "container aboutCont">  
        <span class = 'about'> Hello! <br>I am a critical-thinker, dependable, and sociable new graduate eager to obtain position as a full stack developer. I attended UCSD, where I received a B.S. in physics with a specialization in astrophysics and a minor in computer science.
        <br> Other things about me <br>
  
        <strong> What I Know:</strong>
        <br> Javascrpt | HTML | CSS | Mongo | Express | Angular | Node  | React
        </span>
      </div>
    </div>
    

   <div id="anchor3" class="anchor">
   <div class = 'container'>
     <div class = "row">
        <div class ='col-xs-6 col-md-4 projects'><a href = 'https://polar-peak-84257.herokuapp.com/#/business'> Yelp Favorites<img src = "http://i.imgur.com/c2tqOt8.png" class= 'projectimg'></a></div>
        <div class ='col-xs-6 col-md-4 projects'> <a href = "https://radiant-cove-77490.herokuapp.com/#/"> Cards Against Humanity<img src = "http://i.imgur.com/JRm2SUw.png" class= 'projectimg'></a></div>
        <div class ='col-xs-6 col-md-4 projects'> <a href = "https://dazzling-cuyahoga-valley-95889.herokuapp.com/#/albums"> Photo Album<img src = "http://i.imgur.com/vcSFNuj.png" class= 'projectimg'></a></div>
      </div>
    </div>
    </div>


   <div id="anchor4" class="anchor">
    <p>Resume</p>
    </div>

    <div id="anchor5" class="anchor">
    <p>Contact</p>
    </div>

    <!--<div id="anchor{{x}}" class="anchor" ng-repeat="x in [2,3,4]"> Anchor {{x}} of 3</div>-->


    <div ui-view></div></div>
</body>
</html>
